.searchmenu {
    background-color: rgba(35, 35, 35, 1);
    width: 300px;
    height: 600px;
    border: red 1px solid;
    margin: 10px;
}


.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color:  rgb(33, 32, 32);
    font-size: 17px;
    border: none;
    cursor: pointer;

}

button{
    background-color:  rgb(33, 32, 32);
    color: black;
    border: 2px solid #ff0000; 

  
}

.menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(33, 32, 32);
    width: 800px;
    height: 600px;
    border: rgb(255, 0, 0) 1px solid;
    margin: 10px;
    
}

.schotel {
    margin: 20px;
    padding-bottom: 20px;
    background-color: black;
    height: 500px;
    width: 300px;
}



.smallmenu {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
    background-color: black;
    height: 35%;
    
}
.singlesushi{
    height: 60%;
    width: 60%;
    padding: 30px;
}
