
.menu{
    background-color: rgba(35, 35, 35, 1);
    width: 562px;
    height: 300px;
}
h3{
    color: aliceblue;
    font-size: xx-large;
  
}
#menu{
    /* display: flex;
    flex-wrap: wrap; */
}